<a href="https://colab.research.google.com/github/HunterAshby/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Space_Corrected.csv to Space_Corrected.csv

In [2]:
import pandas as pd
df = pd.read_csv('Space_Corrected.csv')
print(df.shape)
df.head()

(4324, 9)

   Unnamed: 0  Unnamed: 0.1 Company Name  ... Status Rocket  Rocket Status Mission
0           0             0       SpaceX  ...  StatusActive   50.0         Success
1           1             1         CASC  ...  StatusActive  29.75         Success
2           2             2       SpaceX  ...  StatusActive     NaN        Success
3           3             3    Roscosmos  ...  StatusActive   65.0         Success
4           4             4          ULA  ...  StatusActive  145.0         Success

[5 rows x 9 columns]

In [3]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [4]:
df.head()

  Company Name  ... Status Mission
0       SpaceX  ...        Success
1         CASC  ...        Success
2       SpaceX  ...        Success
3    Roscosmos  ...        Success
4          ULA  ...        Success

[5 rows x 7 columns]

In [5]:
df.tail()

     Company Name  ... Status Mission
4319      US Navy  ...        Failure
4320         AMBA  ...        Success
4321      US Navy  ...        Failure
4322    RVSN USSR  ...        Success
4323    RVSN USSR  ...        Success

[5 rows x 7 columns]

In [6]:
df['Status Mission'].value_counts()

Success              3879
Failure               339
Partial Failure       102
Prelaunch Failure       4
Name: Status Mission, dtype: int64

In [7]:
#target is mission status
#Target is a classification