<a href="https://colab.research.google.com/github/HunterAshby/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [ ]:
##### Begin Working Here #####
import pandas as pd
import numpy as np
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

In [58]:

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [59]:
df = df.drop(['id', 'member_id', 'desc', 'url'], axis=1)

In [60]:
df['term'][1].strip().rstrip(' months')

'36'

In [61]:
def termToInt(cellContents):
  return int(cellContents.strip().rstrip(' months'))

In [62]:
type(termToInt(df['term'][1]))

int

In [63]:
df['term'] = df['term'].apply(termToInt)
df.head()

   loan_amnt  funded_amnt  ...  settlement_percentage  settlement_term
0      20000        20000  ...                    NaN              NaN
1      12000        12000  ...                    NaN              NaN
2       7000         7000  ...                    NaN              NaN
3      25000        25000  ...                    NaN              NaN
4      10400        10400  ...                    NaN              NaN

[5 rows x 140 columns]

In [64]:
def loanStatusCondition(cellContents):
    if cellContents == 'Current' or cellContents == 'Fully Paid':
      return 1
    else:
      return 0

In [65]:
loanStatusCondition(df['loan_status'][1])

1

In [66]:
df['loan_status_is_great'] = df['loan_status'].apply(loanStatusCondition)
df.head()

   loan_amnt  funded_amnt  ...  settlement_term  loan_status_is_great
0      20000        20000  ...              NaN                     0
1      12000        12000  ...              NaN                     1
2       7000         7000  ...              NaN                     1
3      25000        25000  ...              NaN                     1
4      10400        10400  ...              NaN                     1

[5 rows x 141 columns]

In [67]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [68]:
type(df['issue_d'][1])

pandas._libs.tslibs.timestamps.Timestamp

In [82]:
# adds together a dateTime datatype and an integar that represents months
def timePlusMonth(dateTime, months):
  return dateTime + months.values.astype('timedelta64[M]')

In [92]:
df['term_end'] = timePlusMonth(df['issue_d'], df['term'])

In [93]:
df['last_pymnt_d_month'] = df['term_end'].dt.month

In [95]:
df['last_pymnt_d_year'] = df['term_end'].dt.year

In [96]:
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      20000        20000  ...                  11               2021
1      12000        12000  ...                  11               2021
2       7000         7000  ...                  11               2021
3      25000        25000  ...                  12               2023
4      10400        10400  ...                  11               2021

[5 rows x 144 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01